body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}

.items {
  width: 800px;
  height: 200px;
  border: 2px solid white;

  overflow-x: scroll;
  overflow-y: hidden;

  white-space: nowrap;   /* 🔥 key */
  cursor: grab;
}

.items.active {
  cursor: grabbing;
}

.item {
  display: inline-flex;   /* 🔥 key */
  width: 200px;
  height: 100%;
  margin: 10px;

  background: #ff6b6b;
  color: white;
  font-size: 40px;

  justify-content: center;
  align-items: center;
}