body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}

.items {
  width: 800px;
  height: 400px;
  border: 2px solid white;
  position: relative; /* IMPORTANT */
  background: #222;
}

.item {
  position: absolute; /* IMPORTANT */
  width: 100px;
  height: 100px;
  background: #ff6b6b;
  color: white;
  font-size: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: grab;
}